<div class="container">
  <div class="d-flex justify-content-between">
    <h4>Editer</h4>
    <a href="#" routerLink="/person/update" class="btn btn-primaryt">Retour</a>
  </div>

  <hr>

  <form [formGroup]="form" (ngSubmit)="submit()">


      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="title">Nom:</label>
            <input
              formControlName="name"
              [(ngModel)]="person.name"
              id="name"
              type="text"
              class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">*Le nom est requis.</div>
                <div *ngIf="f.name.errors.pattern">*Le nom ne doit contenir que des lettres.</div>
            </div>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="email">Email:</label>
            <input
              formControlName="email"
              [(ngModel)]="person.email"
              id="email"
              type="text"
              class="form-control">
            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                <div *ngIf="f.email.errors.required">*L'e-mail est requis.</div>
                <div *ngIf="f.email.errors.email">*L'e-mail doit être une adresse e-mail valide.</div>
            </div>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="phone">Téléphone:</label>
            <input
              [(ngModel)]="person.phone"
              formControlName="phone"
              id="phone"
              type="text"
              class="form-control">
            <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                <div *ngIf="f.phone.errors.required">*Téléphone est requis.</div>
                <div *ngIf="f.phone.errors.pattern">*Le téléphone ne doit contenir que des chiffres.</div>
            </div>
          </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Mettre à jour</button>
  </form>
</div>
